<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    {{yield}}
    {{#if back-route}}
      {{#if back-model}}
        {{link-to "&laquo;" back-route back-model class="navbar-brand back"}}
      {{else}}
        {{link-to "&laquo;" back-route class="navbar-brand back"}}
      {{/if}}
    {{/if}}
    <span class="navbar-brand">
      {{title}}
    </span>
    <p class="navbar-text">
      <a href="#help" class="navbar-link"><span class="glyphicon glyphicon-question-sign"></span></a>
    </p>
  </div>
</nav>
