{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{yield}}
    {{#if back-route}}
      {{#if back-model}}
        {{#link-to back-route back-model}}
          {{paper-icon icon="arrow-back"}}
        {{/link-to}}
      {{else}}
        {{#link-to back-route}}
          {{paper-icon icon="arrow-back"}}
        {{/link-to}}
      {{/if}}
    {{/if}}
    {{#paper-button noink=true}}{{title}}{{/paper-button}}
    {{#link-to "help"}}{{#paper-button noink=true}}Help{{/paper-button}}{{/link-to}}
  </div>
{{/paper-toolbar}}
