{{#nav-bar}}
  {{#link-to "new_account"}}
    <span class="fa fa-plus"></span>
  {{/link-to}}
{{/nav-bar}}
<div class="container">
  {{#if content}}
    <div class="list-group">
      {{#each arrangedContent}}
        {{#link-to 'account' this class="list-group-item account"}}
          {{name}}
          <div class="pull-right amount">
            {{balance}}
          </div>
        {{/link-to}}
      {{/each}}
    </div>
    <p class="footer">
      {{link-to "help" "help"}}
    </p>
  {{else}}
    {{render "help-content"}}
  {{/if}}
</div>
