{{#nav-bar}}
  {{#link-to "new_account"}}
    {{paper-icon icon="add"}}
  {{/link-to}}
{{/nav-bar}}
{{#paper-content class="md-padding"}}
  {{#if sortedAccounts}}
    {{#paper-list}}
      {{#each sortedAccounts as |account|}}
        {{#paper-item}}
          <p>
            {{#link-to 'account' account class="list-group-item account"}}
              {{account.name}}
            {{/link-to}}
          </p>
          {{#paper-button noink=true icon-button=true}}
            {{account.balance}}
          {{/paper-button}}
        {{/paper-item}}
        {{paper-divider}}
      {{/each}}
      {{#paper-item}}
        <p>
          <strong>Total</strong>
        </p>
        {{#paper-button noink=true icon-button=true}}
          <strong>{{totalBalance}}</strong>
        {{/paper-button}}
      {{/paper-item}}
    {{/paper-list}}
  {{else}}
    {{render "help-content"}}
  {{/if}}
{{/paper-content}}
