{{nav-bar title=model.name back-route="accounts"}}
<div class="container">
  {{#if sortedTransactions}}
    <p>
      {{#link-to 'new_transaction' model class="add-transaction btn btn-primary form-control"}}
        <span class="glyphicon glyphicon-plus"></span>
        Add Transaction
      {{/link-to}}
    </p>
    <div class="list-group">
      <div class="list-group-item">
        <strong>Balance</strong>
        <strong class="pull-right">{{model.balance}}</strong>
      </div>
      <div class="transactions">
        {{#each sortedTransactions}}
          {{#link-to 'transaction' this class="list-group-item transaction"}}
            {{description}}
            <div class="amount pull-right">
              {{amount}}
            </div>
          {{/link-to}}
        {{/each}}
      </div>
    </div>
  {{else}}
    <h4>New account</h4>
    <p>To get started with this account put some money in it.</p>
    <p>
      {{#link-to 'new_transaction' model class="btn btn-primary add-transaction"}}
        <span class="glyphicon glyphicon-plus"></span>
        Add Transaction
      {{/link-to}}
    </p>
  {{/if}}
  <p>
    <a href="#" {{action 'deleteAccount'}} class="btn btn-danger pull-right">
      <span class="glyphicon glyphicon-remove"></span>
      Remove Account
    </a>
  </p>
</div>
