{{#nav-bar}}
  {{#link-to "new_account"}}
    <span class="fa fa-plus"></span>
  {{/link-to}}
{{/nav-bar}}
<div class="container">
  {{#if content}}
    <div class="list-group">
      {{#each account in arrangedContent}}
        {{#link-to 'account' account class="list-group-item account"}}
          {{account.name}}
          <div class="pull-right amount">
            {{account.balance}}
          </div>
        {{/link-to}}
      {{/each}}
      <div class="list-group-item">
        <strong>Total</strong>
        <div class="pull-right">
          <strong>{{totalBalance}}</strong>
        </div>
      </div>
    </div>
    <p class="footer">
      {{link-to "help" "help"}}
    </p>
  {{else}}
    {{render "help-content"}}
  {{/if}}
</div>
