{{#nav-bar}}
  {{#link-to "new_account"}}
    {{#paper-button}}{{paper-icon icon="add"}}{{/paper-button}}
  {{/link-to}}
{{/nav-bar}}
{{#paper-content class="md-padding"}}
  {{#if sortedAccounts}}
    {{#paper-list}}
      {{#each sortedAccounts as |account|}}
        {{#paper-item}}
          <p>
            {{#link-to 'account' account class="list-group-item account"}}
              {{account.name}}
            {{/link-to}}
          </p>
          {{format-amount account.balance}}
        {{/paper-item}}
        {{paper-divider}}
      {{/each}}
      {{#paper-item}}
        <p>
          <strong>Total</strong>
        </p>
        <strong>{{format-amount totalBalance}}</strong>
      {{/paper-item}}
    {{/paper-list}}
  {{else}}
    {{render "help-content"}}
  {{/if}}
{{/paper-content}}
