{{nav-bar title=model.name back-route="accounts"}}
{{#paper-content class="md-padding"}}
  {{#if sortedTransactions}}
    <p>
      {{#link-to 'new_transaction' model class="add-transaction"}}
        {{#paper-button raised=true}}
          {{paper-icon icon="add"}}
          Add Transaction
        {{/paper-button}}
      {{/link-to}}
    </p>
    {{#paper-list}}
      {{#paper-item}}
        <p><strong>Balance</strong></p>
        <strong>{{format-amount model.balance}}</strong>
      {{/paper-item}}
      {{paper-divider}}
      <div class="transactions">
        {{#each sortedTransactions as |transaction|}}
          {{#paper-item}}
            <p>
              {{#link-to 'transaction' transaction class="list-group-item transaction"}}
                {{#if transaction.description}}
                  {{transaction.description}}
                {{else}}
                  -
                {{/if}}
              {{/link-to}}
            </p>
            {{format-amount transaction.amount}}
          {{/paper-item}}
          {{paper-divider}}
        {{/each}}
      </div>
    {{/paper-list}}
  {{else}}
    <h1>New account</h1>
    <p>To get started with this account put some money in it.</p>
    <p>
      {{#link-to 'new_transaction' model class="add-transaction"}}
        {{paper-button label="Add Transaction" primary=true raised=true}}
      {{/link-to}}
    </p>
  {{/if}}

  <div class="pull-right">
    {{remove-button remove-label="Remove Account…" confirm-label="Confirm Remove Account" deleteAction=(action "deleteAccount")}}
  </div>
{{/paper-content}}
