{{nav-bar title=model.name back-route="accounts"}}
<div class="container">
  {{#if sortedTransactions}}
    <p>
      {{#link-to 'new_transaction' model class="add-transaction btn btn-primary form-control"}}
        <span class="glyphicon glyphicon-plus"></span>
        Add Transaction
      {{/link-to}}
    </p>
    <div class="list-group">
      <div class="list-group-item">
        <strong>Balance</strong>
        <strong class="pull-right">{{model.balance}}</strong>
      </div>
      <div class="transactions">
        {{#each transaction in sortedTransactions}}
          {{#link-to 'transaction' transaction class="list-group-item transaction"}}
            {{#if transaction.description}}
              {{transaction.description}}
            {{else}}
              -
            {{/if}}
            <div class="amount pull-right">
              {{transaction.amount}}
            </div>
          {{/link-to}}
        {{/each}}
      </div>
    </div>
  {{else}}
    <h4>New account</h4>
    <p>To get started with this account put some money in it.</p>
    <p>
      {{#link-to 'new_transaction' model class="btn btn-primary add-transaction"}}
        <span class="glyphicon glyphicon-plus"></span>
        Add Transaction
      {{/link-to}}
    </p>
  {{/if}}

  <div class="pull-right">
    {{remove-button remove-label="Remove Account..." confirm-label="Confirm Remove Account" action="deleteAccount"}}
  </div>
  <p class="clearfix"></p>
</div>
