{{nav-bar title="Add Transaction" back-route="account" back-model=model}}
{{#paper-content class="md-padding"}}
  <form role="form" {{action "createTransaction" on="submit"}}>
    {{paper-input label="Amount" value=amount required=true id="amount" type="number" attr-step="1"}}
    {{paper-input label="Description" value=description id="description" type="text"}}
    {{#paper-button type="submit" primary=true raised=true}}
      {{paper-icon icon="add"}} Add Transaction
    {{/paper-button}}
  </form>
{{/paper-content}}
