{{nav-bar title="Transaction" back-route="account" back-model=model.account_id}}
<div class="container">
  <div class="list-group">
    <div class="list-group-item">
      <dt>Description</dt>
      <dd>{{model.description}}</dd>
    </div>
    <div class="list-group-item">
      <dt>Amount</dt>
      <dd>{{model.amount}}</dd>
    </div>
    <div class="list-group-item">
      <dt>Date</dt>
      <dd>{{format-date model.date}}</dd>
    </div>
  </div>

  <div class="pull-right">
    {{remove-button remove-label="Remove Transaction..." confirm-label="Confirm Remove Transaction" action="deleteTransaction"}}
  </div>
  <p class="clearfix"></p>
</div>
